    <table class="emotion_table">

        <tbody>
            <tr>
                <td style="text-align: center;padding:0.3rem 3rem 0.3rem 0.3rem">
                    <p><b>Adversity</b></p>
                </td>
                <td style="text-align: center;padding:0.3rem 3rem 0.3rem 0.3rem">
                    <p>{% block adversity %} {% endblock %}</p>
                </td>
            </tr>

            <tr>
                <td style="text-align: center;padding:0.3rem 3rem 0.3rem 0.3rem">
                    <p>Consequences</p>
                </td>
                <td style="text-align: center;padding:0.3rem 0.3rem 0.3rem 0.3rem">
                    <p>{% block eg_consequences %} {% endblock %}</p>
            </tr>

            <tr>
                <td style="text-align: center;padding:0.3rem 3rem 0.3rem 0.3rem">
                    <p>Beliefs</p>
                </td>
                <td style="text-align: center;padding:0.3rem 0.3rem 0.3rem 0.3rem">
                    <p>{% block eg_beliefs %} {% endblock %}</p>
            </tr>

            <tr>
                <td style="text-align: center;padding:0.3rem 3rem 0.3rem 0.3rem">
                    <p>Disputation</p>
                </td>
                <td style="text-align: center;padding:0.3rem 0.3rem 0.3rem 0.3rem">
                    <p>{% block eg_disputation %} {% endblock %}</p>
            </tr>
            <tr>
                <td style="text-align: center;padding:0.3rem 3rem 0.3rem 0.3rem">
                    <p>New Beliefs</p>
                </td>
                <td style="text-align: center;padding:0.3rem 0.3rem 0.3rem 0.3rem">
                    <p>{% block eg_new_beliefs %} {% endblock %}</p>
            </tr>

            <tr>
                <td style="text-align: center;padding:0.3rem 3rem 0.3rem 0.3rem">
                    <p>New Behaviours</p>
                </td>
                <td style="text-align: center;padding:0.3rem 0.3rem 0.3rem 0.3rem">
                    <p>{% block eg_new_behaviours %} {% endblock %}</p>
            </tr>

        </tbody>
    </table>
