{% extends "emotion.html" %}
{% block emo_name %}
Anger
{% endblock %}

{% block emo_a %}
<p>Loss of status/respect</p>
<p>Prevented from meeting an important goal</p>
<p>Physical/emotional pain</p>
<p>Ruminating over past event that caused anger</p>
{% endblock %}

{% block emo_eg %}
<p>You believe that you have been unfairly treated</p>
<p>You believe that things should not be this way</p>
<p>You believe that you are absolutely right</p>
<p>You judge a situation as illegitimate or wrong</p>
{% endblock %}

{% block emo_behaviours %}
<p>You attacking others physically/verbally</p>
<p>You target something else (person/animal/object) other than the person concerned</p>
<p>You withdrawing aggressively from a situation</p>
{% endblock %}

{% block emo_thoughts %}
<p>You view malicious intent in the actions of others in the situation</p>
<p>You focus your attention only on aspects of a situation that lead to anger</p>
<p>You continue to ruminate about the cause of anger</p>
<p>You imagine possible future events that could lead to anger again</p>
{% endblock %}