{% extends "emotion.html" %}
{% block emo_name %}
<p>
<h2>Anxiety</h2>
</p>
{% endblock %}

{% block emo_a %}
<p>This emotion occurs when we perceive there is a threat in the future.</p>
{% endblock %}

{% block emo_behaviours %}
<p>You avoid the threat</p>
<p>You ward off the threat (eg. superstitious behaviour)</p>
<p>You find ways to distract yourself from the threat</p>
{% endblock %}

{% block emo_thoughts %}
<p>You overestimate the probability of the threat occurring</p>
<p>You underestimate your ability to cope with the threat</p>

{% endblock %}