{% extends "emotion.html" %}
{% block emo_name %}
Anxiety
{% endblock %}

{% block emo_a %}
<p>Expecting a threat in the future, which could be:</p>
<ul>
<li>Physical threat (illness, assault)</li>
<li>Loss of status amongst your peers</li>
<li>Loss of possessions or relationships</li>
<li>The sensation of anxiety itself</li>
</ul>
{% endblock %}

{% block emo_eg %}
<p>You expect you or loved ones might die or get hurt</p>
<p>You think someone might reject or criticise you</p>
<p>You believe you might embarrass yourself</p>
{% endblock %}

{% block emo_behaviours %}
<p>You avoid the perceived threat by:</p>
<p>Physically avoiding the threat</p>
<p>Carrying out superstitious behaviour to ward off threat</p>
<p>Using distractions to avoid thinking about threat</p>
{% endblock %}

{% block emo_thoughts %}
<p>You ruminate about other threats</p>
<p>You overestimate probability of threat occurring</p>
<p>You underestimate your ability to cope with threat</p>
{% endblock %}