{% extends "emotion.html" %}
{% block emo_name %}
<p>
<h2>Depression</h2>
</p>
{% endblock %}

{% block emo_a %}
<p>You experience some form of loss, failure or undeserved adversity in your life</p>
{% endblock %}

{% block emo_behaviours %}
<p>You use self-destructive means to stop feeling depressed (eg. alcohol, drugs)</p>
<p>You stop engaging in your usual activities because you lack energy or do not feel motivated to do them</p>
<p>You withdraw from others</p>
{% endblock %}

{% block emo_thoughts %}
<p>You believe you are unable to help yourself (helplessness)</p>
{% endblock %}