<section id="emotions" class="w3-main" onclick="w3_close()" ontouchstart="w3_close()" onscroll="w3_close()">
  <h2>Emotions</h2>

  <p>
    The emotions we are interested in addressing in therapy are unhelpful ones that cause us suffering and
    prevent us from reaching our goals.
  </p>
  <p>
    The unhelpful negative emotions listed below are only a fraction of the words you could use to describe emotions. In
    some cases the words we commonly
    use to describe emotions are better understood as a combination of beliefs and emotions. Correctly identifying our
    inner emotional state is key to good mental health.
  </p>

  <p><i>A negative emotion can be helpful if it leads us to take meaningful action to resolve a problem.</i></p>


  <table
  style="border: 1px solid var(--textcolor); background-color: var(--bgcolor); padding: 0.3em; display: inline-block; margin-bottom: 0.8rem;">
  <tbody>
      <tr>
          <td style="text-align: center;padding:0.3rem">
              <p>{{c.link('depression', "Depression")}}</p>
          </td>
          <td style="text-align: center;padding:0.3rem">
              <p>{{c.link('anxiety', "Anxiety")}}</p>
          </td>
          <td style="text-align: center;padding:0.3rem">
              <p>{{c.link('anger', "Anger")}}</p>
          </td>
          <td style="text-align: center;padding:0.3rem">
              <p>{{c.link('hurt', "Hurt")}}</p>
          </td>

      </tr>
      <tr>
          <td style="text-align: center;padding:0.3rem">
              <p>{{c.link('guilt', "Guilt")}}</p>
          </td>
          <td style="text-align: center;padding:0.3rem">
              <p>{{c.link('shame', "Shame")}}</p>
          </td>
          <td style="text-align: center;padding:0.3rem">
              <p>{{c.link('jealousy', "Jealousy")}}</p>
          </td>
          <td style="text-align: center;padding:0.3rem">
              <p>{{c.link('envy', "Envy")}}</p>
          </td>
      </tr>
  </tbody>
</table>


</section>

<section id="depression" class="w3-main" onclick="w3_close()" ontouchstart="w3_close()" onscroll="w3_close()">
  {% include "emotions/depression.html" %}
</section>

<section id="anxiety" class="w3-main" onclick="w3_close()" ontouchstart="w3_close()" onscroll="w3_close()">
  {% include "emotions/anxiety.html" %}
</section>

<section id="anger" class="w3-main" onclick="w3_close()" ontouchstart="w3_close()" onscroll="w3_close()">
  {% include "emotions/anger.html" %}
</section>

<section id="hurt" class="w3-main" onclick="w3_close()" ontouchstart="w3_close()" onscroll="w3_close()">
  {% include "emotions/hurt.html" %}
</section>

<section id="shame" class="w3-main" onclick="w3_close()" ontouchstart="w3_close()" onscroll="w3_close()">
  {% include "emotions/shame.html" %}
</section>

<section id="guilt" class="w3-main" onclick="w3_close()" ontouchstart="w3_close()" onscroll="w3_close()">
  {% include "emotions/guilt.html" %}
</section>

<section id="jealousy" class="w3-main" onclick="w3_close()" ontouchstart="w3_close()" onscroll="w3_close()">
  {% include "emotions/jealousy.html" %}
</section>

<section id="envy" class="w3-main" onclick="w3_close()" ontouchstart="w3_close()" onscroll="w3_close()">
  {% include "emotions/envy.html" %}
</section>