<h2>Example: {% block eg_title %}{% endblock %}</h2>
<span class="emotion_table">
<p><b>Problem:</b>
{% block eg_problem %}
{% endblock %}
<p>

<p><b>Situation:</b>
{% block eg_situation %}
{% endblock %}
<p>

<p><b>Control/Influence:</b>
{% block eg_control_influence %}
{% endblock %}
</p>

<p><b>Adversity:</b>
{% block eg_adversity %}
{% endblock %}
</p>
<p><b>Beliefs:</b>
{% block eg_beliefs %}
{% endblock %}
</p>
<p><b>Consequences:</b>
{% block eg_consequences %}
{% endblock %}
</p>
<p><b>Disputation:</b>
{% block eg_disputation %}
{% endblock %}
</p>
<p><b>Effective new beliefs:</b>
{% block eg_new_beliefs %}
{% endblock %}
</p>
<p><b>Effective new behaviours:</b>
{% block eg_new_behaviours %}
{% endblock %}
</p>
</span>
<hr>