{% extends "emotion.html" %}
{% block emo_name %}
<p>
<h2>Anger</h2>
</p>
{% endblock %}

{% block emo_a %}
<p>This emotion occurs when we perceive there is a threat in the future.</p>
{% endblock %}

{% block emo_behaviours %}
<p>You attack the other person physically and/or verbally</p>
<p>You focus your anger on something else (person, animal or object) other than the other person</p>
<p>You withdraw aggressively from others</p>
{% endblock %}

{% block emo_thoughts %}
<p>You are unwilling to consider the viewpoints of others</p>
<p>You see yourself as definitely right and others as definitely wrong</p>
<p>You only see malicious intent in the actions of others</p>

{% endblock %}