{% extends "emotion.html" %}
{% block emo_name %}
Hurt
{% endblock %}

{% block emo_a %}
<p>You have been unfairly criticised</p>
<p>You have been rejected by someone</p>
<p>You have been betrayed by someone</p>
<p>You have been neglected by others</p>
<p>You have been unfairly excluded by others</p>
<p>You have been the target of inappropriate humour or spiteful teasing by someone</p>
<p>You learn that someone does not value your relationship with them to be as close as you thought</p>
{% endblock %}

{% block emo_eg %}
<p>You think you deserve to be treated better by the other person</p>
<p>You think the other person does not care about you</p>
<p>You see yourself as vulnerable to harm in the relationship</p>
{% endblock %}

{% block emo_behaviours %}
<p>You sulk and make it obvious you are hurt without revealing source of the hurt</p>
<p>You indirectly criticize or punish the other person for the hurt</p>
{% endblock %}

{% block emo_thoughts %}
<p>You expect the other person to make the first move to mend the relationship</p>
<p>You see yourself as alone and uncared for</p>
<p>You ruminate over past experience of being hurt</p>
<p>You think that your efforts in the relationship were all for nothing</p>

{% endblock %}