<!DOCTYPE html>
{% import "components.njk" as c %}
<html lang="en">

<head>
  <style>
    {% include "style.css" %}
  </style>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>ABC Model</title>
  <meta name="description" content="ABC Model">

  <!-- Recommended minimum -->
  <meta property="og:title" content="ABC Model">
  <meta property="og:description" content="ABC Model">
  <!--  <meta property="og:image" content="img/site-image.jpg">-->
  <!-- <meta name="twitter:card" content="summary_large_image"> -->
</head>

<body>

  <header>

    <div class="w3-sidebar w3-bar-block w3-collapse w3-card" style="background-color: var(--sidebar-grey);"
      id="mySidebar">
      <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_close()"
        style="font-size: 1.5rem; margin-bottom: 2rem;" id="closeButton">☰</button> <!--🌓-->
      <div id="buttonSpaceFiller" style="height: 90px; width: 317.5px; display: none"></div>

      <nav class="sidebar_link">
        <p>
          {{c.link('home', "Home")}}
        </p>

        <p>
          {{c.link('2minutes', "ABC model in 2 minutes")}}
        </p>
        <p style="margin-top:0.4rem">
          {{c.link('intro', "What is the ABC model?")}}
        </p>
        <p>
          1. {{c.link('step1', "Define the problem")}}
        </p>
        <p style="margin-top:0.2rem">
          2. {{c.link('step2', "Define the adversity")}}
        </p>

        <p style="margin-top:0.2rem">
          3. {{c.link('step3', "Identify consequences")}}
        </p>

        <p style="margin-top:0.2rem">
          4. {{c.link('step4', "Identify unhelpful beliefs")}}
        </p>

        <p style="margin-top:0.2rem">
          5. {{c.link('step5', "Dispute unhelpful beliefs")}}
        </p>

        <p style="margin-top:0.2rem">
          6. {{c.link('step6', "Create helpful new beliefs")}}
        </p>
        <hr>

        <!-- <p style="margin-top:0.2rem">
          {{c.link('faqs', "Frequently Asked Questions")}}
        </p> -->

        <!-- <p style="margin-top:0.2rem">
          {{c.link('emotions', "Learn More About Emotions")}}
        </p>

        <p style="margin-top:0.2rem">
          {{c.link('perci', "Perth Emotion Regulation Competency Inventory")}}
        </p>


        <p style="margin-top:0.2rem">
          {{c.link('examples', "Read Examples")}}
        </p> -->

        <p style="margin-top:0.2rem">
          {{c.link('about', "About This Tool")}}
        </p>
      </nav>
    </div>

    <button class="w3-button" onclick="w3_open()" id="openButton" style="font-size: 1.5rem;">☰</button>
    <div class="w3-container">
    </div>
  </header>
  <main>

    <section id="home" class="w3-main" onclick="w3_close()" ontouchstart="w3_close()" onscroll="w3_close()">
      <!-- HOME -->

      <h2>The ABC Model</h2>

      <p>
        <span class="newthought">Welcome.</span> This is a tool for teaching the ABC model for disputing unhelpful
        thoughts to improve how we feel,
        think and act.
      </p>
      <p> Read {{c.link('2minutes', "The ABC model in 2 minutes")}}</p>
      <p></p>
      <hr>

      <div class="emotion_table">
        <p>Note: This website does not collect any personal information.<br />
          The examples described are hypothetical and merely to illustrate use of the model.<br />
          This tool is not a replacement for professional help and is intended for educational
          purposes. Please obtain professional help for further clarification on how the ABC model is applicable
          for your situation.
      </div>
      </p>
    </section>


    <section id="2minutes" class="w3-main" onclick="w3_close()" ontouchstart="w3_close()" onscroll="w3_close()">

      <h2>The ABC model in 2 minutes</h2>
      <ol>
        <li>Think of a problem that is affecting you</li>
        <li>Think of a specific time the problem was an issue for you</li>
        <li>Do anything that can be done (control or influence) about the problem</li>
        <li>Define the situation (what objectively happened in that specific time)</li>
        <li>Define the adversity (what was your subjective take-away or conclusion from the situation)</li>
        <li>List the consequences for you due to the adversity:</li>
        <ul>
          <li>Unhelpful negative emotions: depression, anxiety, anger, hurt, guilt, shame, jealousy or envy</li>
          <li>Unhelpful thoughts and behaviours (eg. avoidance, substance use)</li>
        </ul>
        <li>Ask yourself if you are having secondary emotions (having feelings about your feelings)<br />
          Decide which emotional response (primary or secondary) to address</li>
        <li>Set a goal for what you want to change about your response to the situation</li>
        <li>Define the demand by asking yourself what you were expecting with respect to the adversity<br />Keep asking
          until you describe a demand by stating something “should” or “must” happen</li>
        <li>Define the evaluation by asking yourself what you thought would happen if your expectation is not met<br />
          Keep asking until you reach an awfulizing (saying something is awful/completely bad), discomfort-intolerant
          (saying you can't stand or tolerate something), or global negative evaluative statement
          (negatively judging yourself or others' worth wholly based on one aspect)</li>
        <li>Dispute the demand and the evaluations by questioning how logical, realistic or practical they are</li>
        <li>Create a new effective belief that is flexible and non-extreme</li>
        <li>Practise new thoughts and behaviours consistent with your new effective belief</li>

      </ol>

      <p></p>

      <hr>
      <p> Continue reading step by step in detail: {{c.link('intro', "What is the ABC model?")}}</p>
      <p></p>
    </section>

    {% include "procedure.html" %}
    {#{% include "model.html" %}#}
    {% include "emotions.html" %}
    {# {% include "perci.html" %} #}
    {# {% include "examples.html" %} #}
    {# {% include "issues.html" %} #}
    {% include "about.html" %}




  </main>

  <script>
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("openButton").style.display = "none";
      document.getElementById("buttonSpaceFiller").style.display = "block";
    }

    function w3_close() {
      const bar = document.getElementById("mySidebar");
      bar.style.display = "none";
      document.getElementById("buttonSpaceFiller").style.display = "none";
      if (window.innerWidth > 993) {
      } else {
        document.getElementById("openButton").style.display = "block";
        document.getElementById("buttonSpaceFiller").style.display = "none";
      };
    }

    function hide_home(page) {
      if (page === "home") {
        document.getElementById("home").style.display = "block";
      } else {

        document.getElementById("home").style.display = "none";
      }
    }
  </script>

</body>

</html>