<!DOCTYPE html>
{% import "components.njk" as c %}
<html lang="en">

<head>
  <style>
    {% include "style.css" %}
  </style>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>ABC Model</title>
  <meta name="description" content="ABC Model">

  <!-- Recommended minimum -->
  <meta property="og:title" content="ABC Model">
  <meta property="og:description" content="ABC Model">
  <!--  <meta property="og:image" content="img/site-image.jpg">-->
  <!-- <meta name="twitter:card" content="summary_large_image"> -->
</head>

<body>

  <header>

    <div class="w3-sidebar w3-bar-block w3-collapse w3-card" style="background-color: var(--sidebar-grey);"
      id="mySidebar">
      <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_close()"
        style="font-size: 1.5rem; margin-bottom: 2rem; left: -9px; top: -5px;" id="closeButton">{% include "close-outline.svg" %}</button> <!--🌓-->
      <div id="buttonSpaceFiller" style="height: 90px; width: 300px; display: none"></div>

      <nav class="sidebar_link">
        <p>
          {{c.link('home', "Home")}}
        </p>

        <p>
          {{c.link('5minutes', "ABC model in 5 minutes")}}
        </p>
        <p style="margin-top:0.4rem; margin-bottom:0.5rem;">
          {{c.link('intro', "What is the ABC model?")}}
        </p>
        <hr>

        <p style="margin-top:0.05rem; margin-bottom:0.5rem;">
          1. {{c.link('step1', "Define the problem")}}
        </p>
        <p style="margin-top:0.05rem; margin-bottom:0.5rem;">
          2. {{c.link('step2', "Define the adversity")}}
        </p>

        <p style="margin-top:0.05rem; margin-bottom:0.5rem;">
          3. {{c.link('step3', "Identify consequences")}}
        </p>

        <p style="margin-top:0.05rem; margin-bottom:0.5rem;">
          4. {{c.link('step4', "Identify unhelpful beliefs")}}
        </p>

        <p style="margin-top:0.05rem; margin-bottom:0.5rem;">
          5. {{c.link('step5', "Dispute unhelpful beliefs")}}
        </p>

        <p style="margin-top:0.05rem; margin-bottom:0.5rem;">
          6. {{c.link('step6', "Create helpful new beliefs")}}
        </p>
        <hr>

        <!-- <p style="margin-top:0.2rem">
          {{c.link('faqs', "Frequently Asked Questions")}}
        </p> -->

        <!-- <p style="margin-top:0.2rem">
          {{c.link('emotions', "Learn More About Emotions")}}
        </p>

        <p style="margin-top:0.2rem">
          {{c.link('perci', "Perth Emotion Regulation Competency Inventory")}}
        </p>


        <p style="margin-top:0.2rem">
          {{c.link('examples', "Read Examples")}}
        </p> -->

        <p style="margin-top:0.2rem">
          {{c.link('about', "About this tool")}}
        </p>
      </nav>
    </div>

    <button class="w3-button" onclick="w3_open()" id="openButton" style="font-size: 1.5rem;">☰</button>
    <div class="w3-container">
    </div>
  </header>
  <main>

    <section id="home" class="w3-main" onclick="w3_close()" ontouchstart="w3_close()" onscroll="w3_close()">
      <!-- HOME -->

      <h2>The ABC Model</h2>

      <p>
        <span class="newthought">Welcome.</span> This is a tool for teaching the ABC model for disputing unhelpful
        thoughts to improve how we feel,
        think and act.
      </p>
      <p> Read now: {{c.link('5minutes', "the ABC model in 5 minutes")}}</p>
      <p></p>
      <hr>

      <div class="emotion_table">
        <p style="color: var(--sidebar-text-grey);">Note: This website does not collect any personal information.<br />
          The examples described are hypothetical and merely to illustrate use of the model.<br />
          This tool is not a replacement for professional help and is intended for educational
          purposes. Please obtain professional help for further clarification on how the ABC model is applicable
          for your situation.<br/>
          © 2024 Colin Gan
      </div>
      </p>
    </section>

    {% include "procedure.html" %}
    {#{% include "model.html" %}#}
    {% include "emotions.html" %}
    {# {% include "perci.html" %} #}
    {# {% include "examples.html" %} #}
    {# {% include "issues.html" %} #}
    {% include "about.html" %}




  </main>

  <script>
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("openButton").style.display = "none";
      document.getElementById("buttonSpaceFiller").style.display = "block";
    }

    function w3_close() {
      const bar = document.getElementById("mySidebar");
      bar.style.display = "none";
      document.getElementById("buttonSpaceFiller").style.display = "none";
      if (window.innerWidth > 993) {
      } else {
        document.getElementById("openButton").style.display = "block";
        document.getElementById("buttonSpaceFiller").style.display = "none";
      };
    }

    // function hide_home(page) {
    //   if (page === "home") {
    //     document.getElementById("home").style.display = "block";
    //   } else {

    //     document.getElementById("home").style.display = "none";
    //   }
    // }
  </script>

</body>

</html>