<!DOCTYPE html>
{% import "components.njk" as c %}
<html lang="en">

<head>
  <style>
    {% include "style.css" %}
  </style>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>ABC Model</title>
  <meta name="description" content="ABC Model">

  <!-- Recommended minimum -->
  <meta property="og:title" content="ABC Model">
  <meta property="og:description" content="ABC Model">
  <!--  <meta property="og:image" content="img/site-image.jpg">-->
  <!-- <meta name="twitter:card" content="summary_large_image"> -->
</head>

<body>

  <header>

    <div class="w3-sidebar w3-bar-block w3-collapse w3-card" style="background-color: var(--sidebar-grey);"
      id="mySidebar">
      <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_close()"
        style="font-size: 1.5rem; margin-bottom: 2rem;" id="closeButton">☰</button> <!--🌓-->
      <div id="buttonSpaceFiller" style="height: 90px; width: 317.5px; display: none"></div>

      <nav class="sidebar_link">
        <p>
          {{c.link('home', "Home")}}
        </p>

        <p>
          {{c.link('intro', "What is the ABC Model?")}}
        </p>
        <p style="margin-top:0.4rem">
          1. {{c.link('step1', "Define the Problem")}}
        </p>
        <p style="margin-top:0.2rem">
          2. {{c.link('step2', "Define the Adversity")}}
        </p>

        <p style="margin-top:0.2rem">
          3. {{c.link('step3', "Identify Consequences")}}
        </p>

        <p style="margin-top:0.2rem">
          4. {{c.link('step4', "Identify Unhelpful Beliefs")}}
        </p>

        <p style="margin-top:0.2rem">
          5. {{c.link('step5', "Dispute Unhelpful Beliefs")}}
        </p>

        <p style="margin-top:0.2rem">
          6. {{c.link('step6', "Formulate Helpful New Beliefs")}}
        </p>
        <hr>

        <!-- <p style="margin-top:0.2rem">
          {{c.link('faqs', "Frequently Asked Questions")}}
        </p> -->

        <!-- <p style="margin-top:0.2rem">
          {{c.link('emotions', "Learn More About Emotions")}}
        </p>

        <p style="margin-top:0.2rem">
          {{c.link('perci', "Perth Emotion Regulation Competency Inventory")}}
        </p>


        <p style="margin-top:0.2rem">
          {{c.link('examples', "Read Examples")}}
        </p> -->

        <p style="margin-top:0.2rem">
          {{c.link('about', "About This Tool")}}
        </p>
      </nav>
    </div>

    <button class="w3-button" onclick="w3_open()" id="openButton" style="font-size: 1.5rem;">☰</button>
    <div class="w3-container">
    </div>
  </header>
  <main>

    <section id="home" class="w3-main" onclick="w3_close()" ontouchstart="w3_close()" onscroll="w3_close()">
      <!-- HOME -->

      <h2>The ABC Model</h2>

      <p>
        <span class="newthought">Welcome.</span> This is a tool for teaching the ABC model for disputing unhelpful
        thoughts to improve how we feel,
        think and act.
      </p>
      <p>
        Think of a problem<br />
        Think of a specific time the problem was an issue for you<br />
        Do anything that can be done (control or influence) about the problem<br />
        Define the situation (what objectively happened in that specific time)<br />
        Define the adversity (what was your subjective take-away or conclusion from the situation)<br />
        List the consequences for you due to the adversity:</p>
      <ul>
        <li>
          Unhelpful negative emotions: depression, anxiety, anger, hurt, guilt, shame, jealousy and envy
        </li>
        <li>Unhelpful thoughts and behaviours (eg. avoidance, substance use, unnecessary conflict with others)</li>
      </ul>
      <p>
        Ask yourself if you are having secondary emotions (having feelings about your feelings)<br />
        Set a goal for what you want to change about your response to the situation<br />
        Define the demand by asking yourself what you were expecting with respect to the adversity<br />
        Keep asking until you describe a demand by stating something “should” or “must” happen<br />
        Define the evaluation by asking yourself what you thought would happen if your expectation is not met<br />
        Keep asking until you reach an awfulizing, discomfort-intolerant, or global negative evaluative statement<br />
        Dispute the demand and the evaluations by questioning how logical, realistic or practical they are<br />
        Create a new effective belief that is flexible and non-extreme<br />
        Practise new thoughts and behaviours consistent with your new effective belief<br />
      </p>



      <p>In short, this method shows how to:</p>
      <ul>
        <li>describe a situation causing us distress</li>
        <li>identify what thoughts are contributing to this distress</li>
        <li>look for ways to change these thoughts</li>
      </ul>



      <p> {{c.link('intro', "Start learning.")}}</p>
      <p></p>
      <hr>

      <div class="emotion_table">
        <p>Note: This website does not collect any personal information.<br />
          The examples described are hypothetical and merely to illustrate use of the model.<br />
          This tool is not a replacement for professional help and is intended for educational
          purposes. Please obtain professional help for further clarification on how the ABC model is applicable
          for your situation.
      </div>
      </p>
    </section>
    {% include "procedure.html" %}
    {#{% include "model.html" %}#}
    {% include "emotions.html" %}
    {# {% include "perci.html" %} #}
    {# {% include "examples.html" %} #}
    {# {% include "issues.html" %} #}
    {% include "about.html" %}




  </main>

  <script>
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("openButton").style.display = "none";
      document.getElementById("buttonSpaceFiller").style.display = "block";
    }

    function w3_close() {
      const bar = document.getElementById("mySidebar");
      bar.style.display = "none";
      document.getElementById("buttonSpaceFiller").style.display = "none";
      if (window.innerWidth > 993) {
      } else {
        document.getElementById("openButton").style.display = "block";
        document.getElementById("buttonSpaceFiller").style.display = "none";
      };
    }
  </script>

</body>

</html>