<section id="intro">
    <h2>What is the ABC Model?</h2>
    <p>The <i>ABC</i> in <i>ABC</i> model is an abbreviation for <i>Adversity</i>, <i>Beliefs</i> and
        <i>Consequences</i>.
    </p>
    <p> The ABC model describes how the beliefs we have about an adversity in a situation largely determine the
        consequences for us.
    </p>
    <p>Whenever we experience an emotion in a situation, we are telling ourselves something about it. This statement is
        not always obvious and it is usually hidden amongst all the other thoughts or feelings we are having.
    </p>

    <p> The ABC model helps us clarify what thoughts we are having in a situation that lead us to:
    </p>
    <ul>
        <li>form an unhelpful negative emotion</li>
        <li>subsequently carry out unhelpful behaviours</li>
        <li>generate unhelpful thoughts that further develop on the initial thought we might have had.</li>
    </ul>
    <p>For further information, see a {{c.link('model', "detailed explanation")}} of the model.</p>
    <hr>
    <p>
        Go to: {{c.link('step1', "1. Define the Adversity")}}</p>
</section>

<section id="step1">
    <h2>1. Define the Adversity</h2>
    <h3>
        <p>

            1.1 Decide on a problem to work on and identify a specific instance it happened </p>

    </h3>


    <p>
        You want to be as specific as possible. Even if a problem has occurred many times, it helps to pinpoint a
        specific instance so you can be clear about what you were thinking and feeling at the time.
    </p>
    <h3>
        <p>
            1.2 Determine what you can control or influence
        </p>
    </h3>


    <p>
        Before looking at the ABC method, consider other actions that can be taken:
    </p>
    <div style="border: 1px solid var(--light); padding: 0.8em; display: inline-block;">
        <p>
            <b>Direct control</b> -- is there a concrete action you can take about the problem? eg. starting a task you
            are
            procrastinating on
        </p>
        <p>
            <b>Indirect influence</b> -- can you influence the situation to lessen the impact of the problem, eg.
            explaining
            to a loved one why their comments are upsetting
        </p>
    </div>
    <p></p>
    <p>
        If you have done everything possible or control or influence the problem and you still struggle with unhelpful
        emotions or behaviours, then the last step available is to <i>cope</i> with the situation. This is where the ABC
        method becomes relevant.
    </p>
    <p>
        Engaging in problem solving might be enough sometimes, but often even if we can do something practical to solve
        a problem, we might still be emotionally disturbed about it. The ABC procedure can help us cope with unhelpful
        negative emotions that occur in the presence of the problem.
    </p>
    <p>
        If there are concrete actions that you can carry out about the problem but you are struggling to do it because
        of how you feel, then learning to cope more effectively with the ABC procedure will help.
    </p>

    <h3>
        <p>1.3 Distinguish between the situation and the adversity</p>
    </h3>

    <p></p>
    <p>We define the situation here as the objective account of what is going on as what a group of impartial observers
        would agree has happened.</p>
    <p></p>
    <p>The adversity is the thought that comes to mind regarding the situation that leads to the unhelpful emotion. It
        is the initial, knee-jerk answer to the question “What does this situation mean for me, others, or the world
        around me?”</p>
    <p></p>
    <p>The adversity is usually a subjective opinion, but it can also be an objective fact about what happened.</p>
    <p></p>
    <p>Example:</p>
    <p></p>
    <p>Situation: I lost my job.</p>
    <p>Adversity: I don’t know how I can pay next fortnight’s bills</p>
    <p></p>
    <p>There are usually many possible adversities generated from a situation, so using the same example:</p>
    <p></p>
    <p>Adversity: I didn’t try hard enough at work to keep my job</p>
    <p>Adversity: I lost the job because my boss doesn’t like me</p>
    <p>Adversity: My wife is going to be disappointed in me</p>
    <p>Adversity: I have to look for a job at a time when there are few advertised</p>
    <p>Adversity: I won’t be able to sleep tonight</p>
    <p></p>
    <p>Different adversities generate different types of unhelpful emotions. It is possible to have multiple unhelpful
        negative emotions about a single situation.</p>
    <p></p>
    <p>Another way of figuring out the adversity to ask yourself what you would want to remove from the situation to
        make the unhelpful negative emotion go away.</p>


    <hr>
    <p>
        Go to: {{c.link('step2', "2. Identify Consequences")}}
    </p>
</section>
<section id="step2">
    <h2>2. Identify Consequences</h2>
    <h3>
        <p>

            2.1 List the emotions you felt and behaviours you performed when the situation occurred
        </p>

    </h3>

    <p>
        Review this list of common unhelpful negative emotions and see if any of them match your experience:
    </p>

    <table style="max-width: 68em; border:1px solid var(--light); padding:0.3rem; margin-bottom: 0.4rem;">
        <tbody>
            <tr>
                <td style="text-align: center;padding:0.3rem">
                    <p>{{c.link('depression', "Depression")}}</p>
                </td>
                <td style="text-align: center;padding:0.3rem">
                    <p>{{c.link('anxiety', "Anxiety")}}</p>
                </td>
                <td style="text-align: center;padding:0.3rem">
                    <p>{{c.link('anger', "Anger")}}</p>
                </td>
                <td style="text-align: center;padding:0.3rem">
                    <p>{{c.link('hurt', "Hurt")}}</p>
                </td>

            </tr>
            <tr>
                <td style="text-align: center;padding:0.3rem">
                    <p>{{c.link('guilt', "Guilt")}}</p>
                </td>
                <td style="text-align: center;padding:0.3rem">
                    <p>{{c.link('shame', "Shame")}}</p>
                </td>
                <td style="text-align: center;padding:0.3rem">
                    <p>{{c.link('jealousy', "Jealousy")}}</p>
                </td>
                <td style="text-align: center;padding:0.3rem">
                    <p>{{c.link('envy', "Envy")}}</p>
                </td>
            </tr>
        </tbody>
    </table>


    <p>
        See {{c.link('emotions', "Emotions")}} for more details about emotions and how we regulate them.
    </p>

    <h3>
        <p>
            2.2 Set a goal for the problem
        </p>
    </h3>
    <p>
        If you are experiencing an adversity, you are likely to experience some form of negative emotion,
        so setting a goal of having positive or no negative emotion would be unrealistic and unhelpful.
    </p>
    <p>
        Behavioral goals are the most helpful -- ie. what you would be doing differently if you were
        coping more effectively with the problem.
    </p>
    <p></p>
    <hr>
    <p>
        Go to: {{c.link('step3', "3. Identify Unhelpful Beliefs")}}
    </p>
</section>

<section id="step3">
    <h2>3. Identify Unhelpful Beliefs</h2>
    <h3>
        <p>
            3.1 Self-examine beliefs for rigidity and extremeness
        </p>
    </h3>
    <p>
        Unhelpful beliefs are unhelpful because they are rigid and extreme.
    </p>
    <p>
        When we have rigid and extreme beliefs, we are insisting that our expectations must be met regardless of the
        reality of the situation.
    </p>
    <p>
        See {{c.link('beliefs', "Beliefs")}} for more information on each component.</p>

    {% include "unhelpfulbelief.html" %}

    <p>
        From this template, ask yourself:</p>
    <p>
        - What am I insisting should happen for myself, others, or the situation?</p>
    <p>
        - What does this belief say about me/others/the situation?
    </p>
    <p>
        We want to keep asking ourselves what is the result of a belief until we reach a point where we express a global
        negative sentiment about one or more of the following:
    </p>
    <p>
        1. Self</p>
    <p>
        2. Others</p>
    <p>
        3. The situation, the world, or the future</p>

    <p> It might take some time to identify the unhelpful belief, and arriving at the evaluation might require
        asking the question repeatedly. For example:</p>

    {% call c.box() %}
    <p>
        I might get fined for not paying a bill.</p>
    <p>
        <i>What would then happen?</i>
    </p>
    <p>
        I might have less money in my account.</p>
    <p>
        <i>What's the consequence of that?</i>
    </p>
    <p>
        I might not be able to afford something later.</p>
    <p>
        <i>What's so bad about that?</i>
    </p>
    <p>
        Then I can't have what I need.</p>
    <p>
        <i>And if you can't have what you need, what then?</i>
    </p>
    <p>
        <b>It would be awful and I wouldn't be able to cope without it.</b>
    </p>

    {% endcall %}
    <p></p>
    <p>
        Talking to another person (a trusted friend, a qualified counsellor) can help a lot with figuring out what
        unhelpful beliefs are being activated in the situation.
    </p>
    <p></p>
    <hr>
    <p>
        Go to: {{c.link('step4', "4. Dispute Unhelpful Beliefs")}}
    </p>
</section>

<section id="step4">
    <h2>4. Dispute Unhelpful Beliefs</h2>
    <h3>
        <p>
            4.1 Dispute Unhelpful Beliefs</p>
    </h3><br />
    <p>
        The three questions to dispute beliefs are:</p>
    <p>
        - Is it realistic?</p>
    <p>
        Quite often we can hold unrealistic beliefs without even being aware of them. A common one is a belief that we
        must be approved or liked by everybody.</p>

    <p>- Is it helping me?</p>

    <p>- Is it logical?</p>


    <p>- Is it in line with my values?</p>
    <p>- Would I teach this belief to someone I care about?</p>
    <p></p>
    <hr>
    <p>
        Go to: {{c.link('step5', "5. Formulate Unhelpful Beliefs")}}
    </p>

</section>

<section id="step5">
    <h2>5. Formulate Unhelpful Beliefs</h2>

    <p>
        Now that you have successfully challenged your original unhelpful belief, the last step is to come up with a new
        belief that will be more helpful for you.</p>

    <p>
        Recall the template of an unhelpful belief:</p>

    {% include "unhelpfulbelief.html" %}

    <hr>
    <p></p>


</section>