<section id="intro">
    <p>The <i>ABC</i> in <i>ABC</i> model is an abbreviation for <i>Adversity</i>, <i>Beliefs</i> and
        <i>Consequences</i>.
    </p>
    <p> The ABC model describes how beliefs we have about an adversity in a situation largely determine unhelpful
        thoughts,
        feelings and behaviours.
    </p>
    <p>Whenever we experience an emotion in a situation, we are telling ourselves something about it. This statement is
        not always obvious and it is usually hidden amongst all the other thoughts or feelings we are having.
    </p>

    <p> The purpose of the ABC model is to help us clarify what thoughts we are having in a situation that lead us to:
    </p>
    <ul>
        <li>form an unhelpful negative emotion</li>
        <li>subsequently carry out unhelpful behaviours</li>
        <li>produce unhelpful thoughts that further develop on the initial thought we might have had.</li>
    </ul>
    <p>For more detail of how this works, please see {{c.link('model', "here")}}.</p>
    <hr>
    <p>
        Go to: {{c.link('step1', "2. Define the Activating Event")}}</p>
</section>

<section id="step1">
    <p>
    <h3>
        1.1 Decide on a problem to work on and identify a specific instance it happened
    </h3>

    </p>

    <p>
        You want to be as specific as possible. Even if a problem has occurred many times, it helps to pinpoint a
        specific instance so you can be clear about what you were thinking and feeling at the time.
    </p>
    <p>
    <h3>
        1.2 Determine what you can control or influence
    </h3>
    </p>


    <p>
        Before looking at the ABC method, consider other actions that can be taken:
    </p>
    <div style="border: 1px solid var(--light); padding: 0.8em; display: inline-block;">
        <p>
            <b>Direct control</b> -- is there a concrete action you can take about the problem? eg. starting a task you
            are
            procrastinating on
        </p>
        <p>
            <b>Indirect influence</b> -- can you influence the situation to lessen the impact of the problem, eg.
            explaining
            to a loved one why their comments are upsetting
        </p>
    </div>
    <p></p>
    <p>
        If you have done everything possible or control or influence the problem and you still struggle with unhelpful
        emotions or behaviours, then the last step available is to <i>cope</i> with the situation. This is where the ABC
        method becomes relevant.
    </p>
    <p>
        Engaging in problem solving might be enough sometimes, but often even if we can do something practical to solve
        a problem, we might still be emotionally disturbed about it. The ABC procedure can help us cope with unhelpful
        negative emotions that occur in the presence of the problem.
    </p>
    <p>
        If there are concrete actions that you can carry out about the problem but you are struggling to do it because
        of how you feel, then learning to cope more effectively with the ABC procedure will help.
    </p>
    <hr>
    <p>
        Go to: {{c.link('step2', "2. Identify Consequences")}}
    </p>
</section>
<section id="step2">
    <h3>
        <p>

            2.1 List the emotions you felt and behaviours you performed when the situation occurred
        </p>

    </h3>

    <p>
        Review this list of common unhelpful negative emotions and see if any of them match your experience:
    </p>

    <table
        style="max-width: 68em; border:1px solid var(--light);margin-right:auto; padding:0.3rem; margin-bottom: 0.4rem;">
        <tbody>
            <tr>
                <td style="text-align: center;padding:0.3rem">
                    <p>{{c.link('depression', "Depression")}}</p>
                </td>
                <td style="text-align: center;padding:0.3rem">
                    <p>{{c.link('anxiety', "Anxiety")}}</p>
                </td>
                <td style="text-align: center;padding:0.3rem">
                    <p>{{c.link('anger', "Anger")}}</p>
                </td>
                <td style="text-align: center;padding:0.3rem">
                    <p>{{c.link('hurt', "Hurt")}}</p>
                </td>

            </tr>
            <tr>
                <td style="text-align: center;padding:0.3rem">
                    <p>{{c.link('guilt', "Guilt")}}</p>
                </td>
                <td style="text-align: center;padding:0.3rem">
                    <p>{{c.link('shame', "Shame")}}</p>
                </td>
                <td style="text-align: center;padding:0.3rem">
                    <p>{{c.link('jealousy', "Jealousy")}}</p>
                </td>
                <td style="text-align: center;padding:0.3rem">
                    <p>{{c.link('envy', "Envy")}}</p>
                </td>
            </tr>
        </tbody>
    </table>


    <p>
        See {{c.link('emotions', "Emotions")}} for more details about emotions and how we regulate them.
    </p>

    <h3>
        <p>
            2.2 Set a goal for the problem
        </p>
    </h3>
    <p>
        If you are experiencing an adversity, you are likely to experience some form of negative emotion,
        so setting a goal of having positive or no negative emotion would be unrealistic and unhelpful.
    </p>
    <p>
        Behavioral goals are the most helpful -- ie. what you would be doing differently if you were
        coping more effectively with the problem.
    </p>
    <p></p>
    <hr>
    <p>
        Go to: {{c.link('step3', "3. Identify Unhelpful Beliefs")}}
    </p>
</section>

<section id="step3">
    <h3>
        <p>
            3.1 Self-examine beliefs for rigidity and extremeness
        </p>


    </h3>
    <p>
        The structure of an unhelpful belief takes the following form with up to four different components:
        demandingness, awfulizing, discomfort intolerance and global evaluation of worth.
    </p>
    <p>
        See {{c.link('beliefs', "Beliefs")}} for more information on each component.</p>
    {% include "unhelpfulbelief.html" %}

    <p>
        From this template, ask yourself:</p>
    <p>
        - What am I insisting should happen for myself, others, or the situation?</p>
    <p>
        - What does this belief say about me/others/the situation?
    </p>
    <p>
        We want to keep asking ourselves what is the result of a belief until we reach the end, where we usually express
        a global negative sentiment about one or more of the following:
    </p>
    <p>
        1. Self</p>
    <p>
        2. Others</p>
    <p>
        3. The situation, the world, or the future</p>

    <p> It might take some time to identify the unhelpful belief, and arriving at the evaluation might require
        asking the question repeatedly. For example:</p>
    <span class="emotable">
        <div style="border: 1px solid var(--light); padding: 0.8em; display: inline-block;">
            <p>
                I might get fined for not paying a bill.</p>
            <p>
                What would then happen?</p>
            <p>
                I might have less money in my account.</p>
            <p>
                What's the consequence of that?</p>
            <p>
                I might not be able to afford something later.</p>
            <p>
                What's so bad about that?</p>
            <p>
                Then I can't have what I need.</p>
            <p>
                And if you can't have what you need, what then?</p>
            <p>
                It would be terrible and I wouldn't be able to cope without it.</p>
        </div>
    </span>
    <p></p>
    <p>
        Talking to a clinician will help a lot with figuring out what unhelpful beliefs are being activated in
        the
        situation.
    </p>
    <p></p>
    <hr>
    <p>
        Go to: {{c.link('step4', "4. Dispute Unhelpful Beliefs")}}
    </p>
</section>

<section id="step4">
    <h3>
        <p>
            4.1 Dispute Unhelpful Beliefs</p>
    </h3><br />
    <p>
        The three questions to dispute beliefs are:</p>
    <p>
        - Is it realistic?</p>
    <p>
        Quite often we can hold unrealistic beliefs without even being aware of them. A common one is a belief that we
        must be approved or liked by everybody.</p>

    <p>- Is it helping me?</p>

    <p>- Is it logical?</p>


    <p>- Is it in line with my values?</p>
    <p>- Would I teach this belief to someone I care about?</p>
    <p></p>
    <hr>
    <p>
        Go to: {{c.link('step5', "5. Formulate Unhelpful Beliefs")}}
    </p>

</section>

<section id="step5">
    <p>
        Now that you have successfully challenged your original unhelpful belief, the last step is to come up with a new
        belief that will be more helpful for you.</p>

    <p>
        Recall the template of an unhelpful belief:</p>

    {% include "unhelpfulbelief.html" %}

    <hr>
    <p></p>


</section>