{% extends "example.njk" %}

{% block eg_title %} Parking fine {% endblock %}
{% block eg_problem %} I got a parking fine because I overstayed by ten minutes.{%
endblock %}
{% block eg_situation %} The problem is defined as a single situation {% endblock %}
{% block eg_control_influence %} I can't make the parking fine go away, but I can lodge an appeal with the parking
    office{% endblock %}

{% block content %}


    <table class="emotion_table">
        <tbody>
            <tr>
                <td style="text-align: center;padding:0.3rem 2.5rem 0.3rem 0.3rem">
                    <p><b>Adversity</b></p>
                </td>
                <td style="text-align: center;padding:0.3rem 2.5rem 0.3rem 0.3rem">
                    <p> I have to pay a fine I didn't expect to get</p>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;padding:0.3rem 2.5rem 0.3rem 0.3rem">
                    <p><b>Consequences</b></p>
                </td>
                <td style="text-align: center;padding:0.3rem 0.3rem 0.3rem 0.3rem">
                    <p>Angry. I stopped doing anything productive for the rest of the day because I was angry</p>
            </tr>
            <tr>
                <td style="text-align: center;padding:0.3rem 2.5rem 0.3rem 0.3rem">
                    <p><b>Beliefs</b></p>
                </td>
                <td style="text-align: center;padding:0.3rem 0.3rem 0.3rem 0.3rem">
                    <p>Things should be fair <br>
It's awful that's the world is unfair</p>
            </tr>

            <tr>
                <td style="text-align: center;padding:0.3rem 2.5rem 0.3rem 0.3rem">
                    <p><b>Disputation</b></p>
                </td>
                <td style="text-align: center;padding:0.3rem 0.3rem 0.3rem 0.3rem">
                    <p>Why must things be fair just because we want them to be?
Is it helping me to focus on the unfairness of the parking fine?</p>
            </tr>
            <tr>
                <td style="text-align: center;padding:0.3rem 2.5rem 0.3rem 0.3rem">
                    <p><b>New Beliefs</b></p>
                </td>
                <td style="text-align: center;padding:0.3rem 0.3rem 0.3rem 0.3rem">
                    <p>I would like things to be fair, but unfortunately sometimes they aren't, and I can accept
    this and not let unfairness harm me any more than it does</p>
            </tr>
            <tr>
                <td style="text-align: center;padding:0.3rem 2.5rem 0.3rem 0.3rem">
                    <p><b>New Behaviours</b></p>
                </td>
                <td style="text-align: center;padding:0.3rem 0.3rem 0.3rem 0.3rem">
                    <p>Continue my usual tasks for the rest of the day</p>
            </tr>
        </tbody>
    </table>


{% endblock %}