{% extends "example.njk" %}

{% block eg_title %} Parking fine {% endblock %}
{% block eg_problem %} <p>I got a parking fine because you overstayed by ten minutes. </p>{%
endblock %}
{% block eg_situation %} <p>The problem is defined as a single situation </p>{% endblock %}
{% block eg_control_influence %} <p>I can't make the parking fine go away, but I can lodge an appeal with the parking
    office</p>{% endblock %}

{% block eg_adversity %} <p>I have to pay a fine I didn't expect to get </p>{% endblock %}
{% block eg_consequences %} <p>Angry. Stopped doing anything productive for the rest of the day because you were angry
</p> {%
endblock %}
{% block eg_beliefs %} <p>Things should be fair </p>
<p>It's awful that's the world is unfair</p>
{% endblock %}
{% block eg_disputation %}
<p>Why must things be fair just because we want them to be?</p>
<p>Is it helping me to focus on the unfairness of the parking fine?</p>
{% endblock %}
{% block eg_new_beliefs %} <p>I would like things to be fair, but unfortunately sometimes they aren't, and I can accept
    this and not let unfairness harm me any more than it does</p>{% endblock %}
{% block eg_new_behaviours %} <p> Continue usual tasks for the rest of the day</p>{% endblock %}