{% extends "example.njk" %}

{% block eg_title %} Parking fine {% endblock %}
{% block eg_problem %} I got a parking fine because I overstayed by ten minutes.{%
endblock %}
{% block eg_situation %} The problem is defined as a single situation {% endblock %}
{% block eg_control_influence %} I can't make the parking fine go away, but I can lodge an appeal with the parking
    office{% endblock %}

{% block eg_adversity %} I have to pay a fine I didn't expect to get {% endblock %}
{% block eg_consequences %} Angry. I stopped doing anything productive for the rest of the day because I was angry
 {%
endblock %}
{% block eg_beliefs %}Things should be fair <br>
It's awful that's the world is unfair
{% endblock %}
{% block eg_disputation %}
Why must things be fair just because we want them to be?
Is it helping me to focus on the unfairness of the parking fine?
{% endblock %}
{% block eg_new_beliefs %}I would like things to be fair, but unfortunately sometimes they aren't, and I can accept
    this and not let unfairness harm me any more than it does{% endblock %}
{% block eg_new_behaviours %} Continue my usual tasks for the rest of the day{% endblock %}