{% extends "emotion.njk" %}
{% block emo_name %}
Depression
{% endblock %}

{% block emo_a %}
<p>Loss or failure in two domains: relationships and/or achievement/status</p>
<p>Relationships: loss of loved one, end of a relationship, rejection, disapproval by others</p>
<p>Achievement/status: failing at an important goal, experiencing loss of freedom</p>
{% endblock %}

{% block emo_eg %}
<p>You believe that you need this relationship or achievement or else you are unlovable/worthless</p>
<p>You believe that you need this relationship or achievement or else it would be unbearable</p>
{% endblock %}

{% block emo_behaviours %}
<p>You withdraw from others</p>
<p>You use self-destructive means to stop being depressed (eg. alcohol, drugs)</p>
<p>You stop engaging in usual activities because you lack motivation or energy</p>
<p>You push away attempts by others to comfort you</p>
<p>You become overly dependent on and seek to cling to others</p>
{% endblock %}

{% block emo_thoughts %}
<p>You ignore positive aspects of the loss and only focus on the negatives</p>
<p>You generalise the loss and believe you will experience loss/failure in other parts of your life</p>
<p>You ruminate about what caused the depression and its consequences</p>
<p>You believe things will not improve in the future (hopelessness)</p>
<p>You believe you are unable to help yourself (helplessness)</p>
{% endblock %}