{% extends "emotion.njk" %}
{% block emo_name %}
    Envy
{% endblock %}
{% block emo_a %}
    <p>Someone has something you want/need but cannot have</p>
{% endblock %}
{% block emo_eg %}
    <p>You think you deserve what others have</p>
    <p>You think others have more than you</p>
    <p>You think that the world is unfair because you do not have something others have</p>
    <p>You think you are a failure in comparison to others</p>
    <p>You think other people are judging you because someone has done better</p>
{% endblock %}
{% block emo_behaviours %}
    <p>You try to make the other person look bad</p>
    <p>You attack/criticise those who have what you want</p>
    <p>You avoid people who have what you want</p>
{% endblock %}
{% block emo_thoughts %}
    <p>Focusing on what you do not have</p>
    <p>Not appreciating what you already have</p>
    <p>You think others are better than you</p>
    <p>You think you are unlucky</p>
    <p>You overidealize people who are successful</p>
    <p>You overgeneralize the success of the person you envy</p>
    <p>You overgeneralize your failure relative to the person you envy</p>
    <p>You believe you will not improve because someone else is doing better</p>
{% endblock %}