{% extends "emotion.njk" %}
{% block emo_name %}
Guilt
{% endblock %}

{% block emo_a %}
<p>You do something you consider to be morally wrong</p>
<p>You cause harm to others or yourself</p>
<p>You do not do something you agreed to</p>
<p>You are reminded of past actions associated with guilt</p>
{% endblock %}

{% block emo_eg %}
<p>You have the thought “If only I had done things differently…”</p>
{% endblock %}

{% block emo_behaviours %}
<p>You beg forgiveness from those you wronged</p>
<p>You reject offers of forgiveness</p>
<p>You make excuses for your guilty actions</p>
{% endblock %}

{% block emo_thoughts %}
<p>You think you will receive retribution</p>
<p>You take more responsibility for the guilt act than is warranted</p>

{% endblock %}