{% extends "emotion.njk" %}
{% block emo_name %}
Jealousy
{% endblock %}

{% block emo_a %}
<p>An important relationship is being threatened by another person paying attention to your partner.</p>
<p>Partner is having an affair</p>
<p>Partner flirts with others</p>
<p>Partner says they want more time alone</p>
{% endblock %}

{% block emo_eg %}
<p>You think your partner doesn’t care about you</p>
<p>You think your partner is going to leave you</p>
<p>You think your partner is behaving inappropriately</p>
<p>You believe you deserve to get more out of your relationship</p>
<p>You believe you’re not the most important person in my partner’s life</p>
{% endblock %}

{% block emo_behaviours %}
<p>You try to control your partner who you are afraid of losing</p>
<p>You accuse your partner of being unfaithful</p>
<p>You monitor your partner’s behaviour closely</p>
<p>You cling to your partner</p>
<p>You constantly seek reassurance about status of your relationship</p>
<p>You make threats or engage in violent behaviour towards anyone threatening your relationship</p>
{% endblock %}

{% block emo_thoughts %}
<p>You view other people as potential love rivals</p>
<p>You believe that your partner has a negative attitude towards you</p>

{% endblock %}