{% extends "emotion.njk" %}
{% block emo_name %}
    Shame
{% endblock %}
{% block emo_a %}
    <p>You are ridiculed/laughed at by others</p>
    <p>You are criticised in public</p>
    <p>You fail at something you expect to be competent at</p>
    <p>You are rejected by people you care about</p>
    <p>You do or think something that people you admire believe is wrong or immoral</p>
    <p>A vulnerable aspect of yourself has been exposed to others</p>
    <p>You perceive yourself as failing to meet a standard met by others</p>
{% endblock %}
{% block emo_eg %}
    <p>You believe others will reject you</p>
    <p>You view yourself as a failure or defective compared to others</p>
    <p>You think you are unlovable</p>
    <p>You believe you are ugly</p>
{% endblock %}
{% block emo_behaviours %}
    <p>You avoid being around others</p>
    <p>You try to distract yourself from shame by engaging in impulsive actions or attacking/blaming others</p>
{% endblock %}
{% block emo_thoughts %}
    <p>You overestimate the likelihood that others will notice your flaws</p>
    <p>You overestimate the amount of judgment you expect from others for knowing about your flaws</p>
{% endblock %}