<section id="step6" class="w3-main" onclick="w3_close()" ontouchstart="w3_close()" onscroll="w3_close()">
    <h2>
        6. Create helpful new beliefs
    </h2>

    <p>
        Having disputed the original unhelpful belief, we need to replace it with a new one that is
        more effective by being more logical, realistic, practical and in line with our values.</p>
    <p>
        That means adjusting our belief from rigid to flexible, and from extreme to non-extreme.
    </p>

    <h3>Demand {% include "img/arrow-right-svgrepo-com.svg" %} Preference</h3>
    <p>
        A preference is distinct from a demand as it indicates we would like something to happen, without insisting that
        it needs to happen.</p>
    <p>
        This does not mean giving up wanting something important. It means being able to gracefully acknowledge the
        possibility of not getting what we want.
    </p>
    <p>If this was put into a statement it would sound like:</p>

    {% call c.box() %}
    <p><i>Although I would like really like my son to do well at school, I can accept that he might not.</i></p>
    <p><i>I would like the world to be fair, but I can acknowledge that it isn't the case.</i></p>
    {% endcall %}

    <p>It is easy to slip from a strongly held preference to a demand, so be careful about the distinction between the
        two. </p>


    <h3>Awfulizing {% include "img/arrow-right-svgrepo-com.svg" %} Non-awfulizing</h3>

    <p>Changing an awfulizing belief to a non-awfulizing belief means viewing the adversity as: </p>
    <ul>
        <li>less than completely 100 per cent bad
        </li>
        <li>something you can cope with</li>
    </ul>
    <p>If you are not sure what coping well would look like, ask yourself how someone else would cope in the situation.
        In difficult situations even the most well-adjusted person would struggle to cope, so resist the temptation to
        define coping as being completely unbothered by an adversity.
    </p>

    <h3>Discomfort Intolerance {% include "img/arrow-right-svgrepo-com.svg" %} Discomfort Tolerance</h3>

    <p>Changing a discomfort intolerance belief to a discomfort tolerance belief means viewing the adversity as
        something you <i>can</i> tolerate, and that it is <i>worth</i> tolerating because of its potential benefits. It
        means actively refusing to believe that discomfort alone will cause us to become irreversibly damaged or harmed.
    </p>


    <h3>Global Evaluation of Worth {% include "img/arrow-right-svgrepo-com.svg" %} Unconditional Acceptance</h3>

    <p>
        Moving away from giving global ratings to people or situations means moving towards unconditional acceptance of
        ourselves, others, and life itself.</p>
    <p>
        This means acknowledging the imperfection of all human beings and refusing to judge them by any
        single event. It means accepting the presence of suffering in life and acknowledging its inevitability and
        unpredictability.
    </p>

    <p>This is not easy to do as it is so natural to assign labels of good and bad to people and things. Unfortunately,
        this oversimplifies how complicated the world is and promotes harsh and overly critical judgment
        when standards are not met. When we practise unconditional acceptance of ourselves and others, we can
        acknowledge
        when we have failed at something, but never use that to judge that we are failures.</p>
    <p></p>

    <h3>Template of a helpful belief</h3>

    <p>Here is a template of a helpful belief to aid with constructing your own:</p>

    {% call c.box() %}
    <p>I would like myself/others/the situation to meet a condition, and if not:</p>
    <ul>
        <li>
            it would be unfortunate, but not <i>completely awful</i>
        </li>
        <li>
            it would be unpleasant, but not <i>intolerable</i>
        </li>
        <li>
            it would not mean I am/others are/the situation are <i>not completely bad/a failure/useless</i>
        </li>
    </ul>

    <p>I would do whatever I can to make this condition occur, but even if I could not do anything, or if the condition
        was not met, I would still be able to accept it</p>
    {% endcall %}

    <p>When you have settled on your new belief, write it down somewhere and look at it regularly to remind yourself
        what you would like to achieve when you are struggling.</p>

    <hr>
    <p></p>


</section>